body {
  background: rgba(0, 195, 255, 0.986);
}
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}
#blocGeneral {
  display: flex;
  flex-direction: row;
  width: 400px;
  align-items: center;
  margin: auto;
}
#bloc1,
#bloc2,
#bloc3 {
  margin-right: 25px;
}
#bloc1 {
  margin-left: 25px;
}
img {
  display: inline-block;
  border-radius: 10px;
}
input {
  display: inline-block;
}
label {
  color: rgb(255, 238, 0);
  font-weight: 900;
  font-size: 22px;
}

.para {
  color: rgb(129, 0, 141);
  font-size: 25px;
  font-weight: 900;
}
#btn {
  width: 90px;
  background: navy;
  color: white;
  font-size: 20px;
  border-radius: 4px;
}
#color {
  color: rgb(179, 0, 0);
  font-size: 30px;
  font-weight: 900;
}
#color2 {
  color: rgb(16, 3, 65);
  font-size: 30px;
  font-weight: 900;
}
ul {
  list-style: none;
}
li {
  color: rgb(255, 238, 0);
  font-weight: 900;
  font-size: 22px;
}
#result {
  color: rgb(129, 0, 141);
  font-size: 25px;
  font-weight: 900;
}
h6 {
  color: rgb(255, 238, 0);
  font-weight: 900;
  font-size: 22px;
}
#message_fin {
  color: rgb(14, 134, 3);
  font-weight: 900;
  font-size: 22px;
}
#refresh {
  background: navy;
  color: white;
  border-radius: 5px;
  width: 200px;
  font-size: 20px;
}
